@charset "utf-8";
/* CSS Document */




.TOPIC {
	background-image:url(images/astronuts.jpg);
	background-position:top;
	background-size:cover;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:125px;
	color:#C30;}

.IMAGE1 {
	background-image:url(images/_MG_0923.JPG);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:50PX;}
	
.IMAGE2 {
	background-image:url(images/billgates.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:50PX;}
	
	
.IMAGE3 {
	background-image:url(images/albet.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:50PX;}
	
	
.IMAGE4 {
	background-image:url(images/edwin.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:50PX;}
	
	
	
.IMAGE5 {
	background-image:url(images/neil-armstrong.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top;
	border-radius:50PX;}
	
	
.HOME  /* hover settings for the inactive links in the menue  [MORE]*/
{
  border: 1 solid;
  border-radius:5000px;
  text-shadow:#F00;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.HOME:hover {
  text-shadow: 8px 8px 9px  #000000;
  box-shadow: inset 0 0 0px, 10px 10px 50px #FFFFFF;

}


.TextHome  	/* FONT SETTINGS Home Link */
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 45px;
	color: #FFF;
	text-decoration: none;
	}
	
	
.bgHOME   /* BACKGROUND AND BORDER SETTINGS OF ROW 2 LEFT COLUMN inactive Links [HOME] */
{  
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	border-radius:5000px;
	text-align:center;
}


.BG {
	background-color:#000;
	}
	
	
.pareagraph {
	font-family:"Adobe Arabic", "High Tower Text", Haettenschweiler, DFKai-SB;
	font-size:40px;
	color:#C60;
	padding:40px;
	
	}	
	
	
	
.Names {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	font-size:35px;
	color:#CCC;
	padding-left:40px;
	}
	
	
.position {
	font-family:"Times New Roman", Times, serif;
	font-size:25px;
	color:#999;
	padding-left:40px;
	}
	
	
.Email {
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	color:#666;
	padding-left:40px;
	}
	
.facetweet {
	background-image: url(images/facetweet.jpeg);
	background-position:center;
	border-radius:10px;
	background-size:cover;
	}
	
	
	
.FOOTER {
	background-color:#200232;
	border-color:#7d06c8;
	border-radius:10px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#daa8f9;
	
	}
	
	
.bodyBg {
	background-image:url(images/634ac06c6f6df757e0fae8c5f6879c9a.gif);
	background-repeat:round;
	}
	
	
	
.contentBg {
	background-image:url(images/Mv83H.png);
	background-repeat:repeat;}