@charset "utf-8";
/* CSS Document */




.ActiveLink   /* SETTINGS OF ROW 2 LEFT COLUMN(menue)ACTIVE LINK*/
{  
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	border-radius:5000px;
	
			/* FONT SETTINGS */
	font-family:"Comic Sans MS", cursive;
	font-size:36px;
	color:#FFF;
	text-align:center;
	
	        /* BORDER SETTINGS */
   	border: 0px solid;
    text-shadow: 8px 8px 3px  #000000;
    box-shadow: inset 0 0 0px, 5px 5px 10px 0px #FFFFFF;
	
	}
	
	
.BGColour   /* BODY TAG */
{  
	background-color: #000;
	}
	


.bgMenueLinks1   /* BACKGROUND AND BORDER SETTINGS OF ROW 2 LEFT COLUMN inactive Links [ABOUT US] */
{  
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	border-radius:5000px;
	text-align:center;

	
	
	}



.bgMenueLinks2   /* BACKGROUND AND BORDER SETTINGS OF ROW 2 LEFT COLUMN inactive Links [MORE] */
{  
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	border-radius:5000px;
	text-align:center;

	}



.FOOTER {
	background-color:#200232;
	border-color:#7d06c8;
	border-radius:10px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#daa8f9;
	
	}
	

.HomePageImages   /* IMAGES AT THE LEFT SIDE OF THE LINKS */
{    
	border-radius:50px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	}
	
.HomepageContent  /* ROW 2 RIGHT COLUMN BACKGROUND AND PADDING SETTINGS */
{
	background:url(images/starry_night_192398.jpg);
	background-size:contain;
	background-repeat:repeat;
	padding-left:150px;
	padding-top:50px;
	border-style:hidden;
	}
	
	
.HomePageTopics {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:35px;
	
	color:#f02ce4;
	padding-left:20px;
	border:hidden;
	
	}
	


.Links  /* hover settings for the content links */
 {
  border: 3px;
  border-color:#000;
  border-radius:50px;
  text-shadow:#F00;
  transition: 900ms;
} 

.Links:hover {
  border: 3px;
  border-color: #a0f7fa;
  text-shadow:2px 2px 2px  #db94f9;
  box-shadow: inset 0 0 25px #2677fd/*FF0000*/, 0px 0px 60px #1af7fa/*FF6600*/;

}





.Links2  /* hover settings for the inactive links in the menue  [MORE]*/
{
  border: 1 solid;
  border-radius:5000px;
  text-shadow:#F00;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.Links2:hover {
  color:#ff6c00;
  text-shadow: 8px 8px 5px #000000;
  box-shadow: 0 0 0px, 4px 20px 50px #fc950f;
  transition-duration:1s;

}



.Links3  /* hover settings for the inactive links in the menue[ABOUT US]*/
{
  border: 1 solid;
  border-radius:5000px;
  text-shadow:#F00;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.Links3:hover {
  color:#0a0c56;
  text-shadow: 8px 8px 9px  #000000;
  box-shadow: 0 0 0px, 4px 20px 50px #2677fd;
  transition-duration: 1s;

}



.linksDecoration1 /*  ABOUT US */
 {
	text-decoration:none;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:36px;
	color:#0a0c56;
	}
	
.linksDecoration2   /*  MORE */
 {
	text-decoration:none;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#7c0d01;
	font-size:36px;
	}
	
	
.linksDecoration3  /*  LINKS FOR PAGES */
 {
	text-decoration:none;
	font-family:"Comic Sans MS", cursive;
	color:#b505fe;
	}
	
			

	
.TheTopic  /* TELESCOPIC */
{
	border-radius:300px;
	border-bottom-left-radius:700px;
	border-bottom-right-radius:700px;
	background-repeat:no-repeat;
	border:1px;
	background:url(images/1XrwP50-hd-universe-wallpaper.jpg);
	background-size:cover;
	
			/* FONT SETTINGS */
	font-family:"Times New Roman", Times, serif;
	color:#ededed;
	font-size:100px;
	text-align:center;
	}
	
	

	
	
	


	
.WELCOME {
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
	color:#ff6600;
	padding-left:50PX;
	text-shadow:2px 2px 0px  #FC0;
	
	}
	
.WELCOMEPARA {
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	color:#ff1e00;
	padding-left:70px;
	}
	
.welcomeImage {
	border-radius:100px;
	}
	

	
.WelcomeBackground {
	background:url(images/starry_night_192398.jpg);
	background-size:cover;}
	
	



/*  ----SEARCH BAR ---*/

form {
				margin-top:50PX;
}
.typebox {
                padding:8px 15px;
                background: #CFF;
                border:0px solid #dbdbdb;
				border-radius:5PX;
				width:110px;
}
.button {
                border:2px solid  #36F;
                background-color: #CFF;
                color:#003;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
				border:2px solid #6FF;
}


.kkk {
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-color:#FF9;
	border-radius:5px;
	}
	
	
