@charset "utf-8";
/* CSS Document */


.MainBG {
	background-color:#000;}

.Topic {
	background:url(images/earth-picture.jpg);
	border-radius:50px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:100px;
	text-align:left;
	color:#f2eef1;
	padding-left:20px;
	text-shadow: 0px 0px 50px #999999;
	}
	
	
.bgMenueLinks1   /* BACKGROUND AND BORDER SETTINGS OF ROW 2 LEFT COLUMN inactive Links [HOME] */
{  
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	border-radius:5000px;
	
			/* FONT SETTINGS */
	font-family:"Comic Sans MS", cursive;
	font-size:36px;
	color:#ff3c00;
	text-align:center;
	}
	
.HOME  /* hover settings for the inactive links in the menue  [MORE]*/
{
  border: 1 solid;
  border-radius:5000px;
  text-shadow:#F00;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.HOME:hover {
  text-shadow: 8px 8px 9px  #000000;
  box-shadow: inset 0 0 0px, 10px 10px 50px #FFFFFF;

}

.bgHOME   /* BACKGROUND AND BORDER SETTINGS OF ROW 2 LEFT COLUMN inactive Links [HOME] */
{  
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	border-radius:5000px;
	text-align:center;
	
		
	
	}
	
.TextHome  	/* FONT SETTINGS Home Link */
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 36px;
	color: #FFF;
	text-decoration: none;
	}
	

.BGofMenueTable {
	background-image:url(images/Mv83H.png);
	background-repeat:repeat-y;}
	
	
.SearchBox {
	padding-top:50px;
	vertical-align:top;}
	
	
.IMAGE3 {
	background-image:url(images/gps%20satelites.jpg);
	background-size:contain;
	background-position:center;
	border-radius:50px;
	background-repeat:no-repeat;
	}
	
	
.IMAGE2 {
	background-image:url(images/moon.jpg);
	background-size:contain;
	background-position:center;
	border-radius:50px;
	background-repeat:no-repeat;
	}
	
	
.IMAGE1 {
	background-image:url(images/earth3.jpg);
	background-size:contain;
	background-position:center;
	border-radius:50px;
	background-repeat:no-repeat;
	}
	
	
.ContentText {
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	color:#CCC;}



.FOOTER {
	background-color:#200232;
	border-color:#7d06c8;
	border-radius:10px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#daa8f9;
	
	}
	
	
	
/*  ----SEARCH BAR ---*/

form {
				margin-top:50PX;
}
.search {
                padding:8px 15px;
                background: #CFF;
                border:0px solid #dbdbdb;
				border-radius:5PX;
				width:110px;
}
.button {
                border:2px solid  #36F;
                background-color: #CFF;
                color:#003;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}

